
p {
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 400;
    color: #393C49;
}

.tips__container {
    margin-top: 50px;
}

.header-block {
    font-family: 'Golos Text';
    margin-top: 50px;
    text-align: center;
}

.form-block {
    font-family: 'Golos Text';
    margin: 28px auto;
    width: 100%;
}

.white-input {
    border: 1px solid;
}

.p-title {
    width: 100%;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    /*line-height: 50px;*/
    margin: 0 auto 40px auto;
    /* identical to box height, or 104% */

    color: #393C49;
}

.p-subtitle {
    font-family: 'Golos Text';
    font-size: 24px;
    font-weight: 600;
    /*line-height: 50px;*/
    letter-spacing: 0em;
    margin-top: 34px;
}

.btn_g_a_pay{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

.check{
    width: 32px;
    margin-top: 10px;
    margin-right: 10px;
}

.visa{
    margin-top: 10px;
    margin-right: 7px;
    width: 40px;
}

.mc{
    margin-top: 10px;
    margin-right: 3px;
    width: 40px;
}

.dina{
    margin-top: 10px;
    width: 60px;
}

#goo_pay {
    background: url(../img/GooPay.png)no-repeat 0px 0px;
    width: 150px;
    height: 82px;
    background-size: cover;
}

#goo_pay:hover {
    background: url(../img/GooPay_act.png);
    background-size: cover;
}

#app_pay {
    background: url(../img/AppPay.png);
    width: 150px;
    height: 82px;
    background-size: cover;
}
#app_pay:hover {
    background: url(../img/AppPay_act.png);
    background-size: cover;
}

.input_1_2{
    display: flex;
    gap: 16px;
    width: 100%;
}

.input_cvv{
    width: 110px;
    margin-right: 15px;
}

.under_info{
    margin-top: 21px;
    font-size: 15px;
}

.img_card{
    padding-left: 50px;
    background: url(../img/card.png) no-repeat 12px 19px;
    background-size: auto 30%;
    margin-right: 10px;
}

.visa_mob{
    width: 30px;
}

.mc_mob{
    width: 30px;
}

.dina_mob{
    margin-left: 5px;
    width: 40px;
}

.data{
    margin: 0;
    padding: 0 13px;
    width: 52px;
}

.cvv{
    width: 48px;
    padding: 6px;
    margin: 0;
}

.logo_bank{
    width: 150px;
}

.lang_logo{
    width: 25px;
}