@font-face {
  font-family: "Circe";
  src: url("../fonts/circe.ttf");
}
@font-face {
  font-family: "CirceLight";
  src: url("../fonts/circe-light.ttf");
}
@font-face {
  font-family: "CirceBold";
  src: url("../fonts/circe-bold.ttf");
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.eot");
  src: local("Golos Text Regular"), local("GolosText-Regular"), url("../fonts/GolosText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GolosText-Regular.woff2") format("woff2"), url("../fonts/GolosText-Regular.woff") format("woff"), url("../fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: 600;
  font-style: normal;
}